<div class="container">
  <table class="table table-hover mt-5">
    <thead>
      <tr>
        <!-- <th scope="col">Type</th> -->
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Telefono</th>
        <th scope="col" colspan="2" class="accion center">Accion</th>
        <!-- <th scope="col" class="accion"></th> -->
      </tr>
    </thead>
    <tbody>
      <tr class="table-primary" *ngFor="let persona of listaPersonas">
        <!-- <th scope="row">Primary</th> -->
        <td>{{persona.nombre}}</td>
        <td>{{persona.apellido}}</td>
        <td>{{persona.email}}</td>
        <td>{{persona.ciudad}}</td>
        <td >{{persona.telefono}}</td>
        <td class="accion  center"><a title="Editar" class="icon-action"><i class="fa-solid fa-brush"></i></a></td>
        <td class="accion  center"><a title="Eliminar" class="icon-action"><i class="fa-solid fa-trash"></i></a></td>

      </tr>
    </tbody>
  </table>

</div>
